body {
	width: 100%;
  	height: 100%;
    background-color: lightblue;
    font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

/*#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand {
  color: #fdcc52;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color: #fcbd20;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #222222;
}

#mainNav .navbar-nav > li > a {
  font-size: 11px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
  color: #fdcc52 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #222222;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #fdcc52;
}*/

/*@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: fade(white, 70%);
  }
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: white;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: white;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: white;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: #fdcc52;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #fdcc52;
  }
}*/





header.masthead {
	position: relative;
	width: 100%;
	height: 100%;
	padding-top: 120px;
	padding-bottom: 17%;
	color: #fff;
	background: url('#{resources["images/bg-pattern.png"]}'), #00bcd4;
	background: url('#{resources["images/bg-pattern.png"]}'), -webkit-linear-gradient(to left, #00bcd4, #00bcd4);
	background: url('#{resources["images/bg-pattern.png"]}'),
		linear-gradient(to left, #fdcc52, #00bcd4)
}

header.masthead .header-content {
  /*max-width: 500px;*/
 /* margin-bottom: 100px;*/
  text-align: center;
}

header.masthead .header-content h1 {
  font-size: 30px;
}


.bg-meninos {
	background: #05cbf5;
	background: -webkit-linear-gradient(#9decfd, #05cbf5);
	background: linear-gradient(#05cbf5, #9decfd)
}

.bg-meninas {
	background: #ff9ff3;
	background: -webkit-linear-gradient(#ffd9fa, #ff9ff3);
	background: linear-gradient(#ff9ff3, #ffd9fa)
}

footer {
  /*padding: 25px 0;*/
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222;
}

/*footer p {
  font-size: 12px;
  margin: 0;
}
*/
/*footer ul {
  margin-bottom: 0;
}*/

/*footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
  text-decoration: none;
}*/

.marcadoVerde{
		background-color: green;
	}
	

@media screen and (min-width: 240.00px) and (max-width: 339.98px){
	
	#mainNav {
	   border-color: white;
	   background-color: white;
	   
	  }
	  /*#mainNav .imagem-tam{
	  	width: auto;
	  	height: auto;
	  }*/
	  #mainNav .navbar-brand {
	    color: fade(white, 70%);
	  }
	  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
	    color: white;
	  }
	  #mainNav .navbar-nav > li > a,
	  #mainNav .navbar-nav > li > a:focus {
	    color: rgba(255, 255, 255, 0.7);
	  }
	  #mainNav .navbar-nav > li > a:hover,
	  #mainNav .navbar-nav > li > a:focus:hover {
	    color: white;
	  }
	  #mainNav.navbar-shrink {
	    border-color: rgba(34, 34, 34, 0.1);
	    background-color: white;
	  }
	  #mainNav.navbar-shrink .navbar-brand {
	    color: #222222;
	  }
	  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
	    color: #fdcc52;
	  }
	  #mainNav.navbar-shrink .navbar-nav > li > a,
	  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
	    color: #222222;
	  }
	  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
	  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
	    color: #fdcc52;
	  }
	  section.apresentacao-temas{
		  width:100%;
		  height:83%;
		  /*position: relative;*/
		  /*padding: 20px 0;*/
	  
	  }
	  section.features{
	  	width:100%;
		  height:65%;
		  padding-bottom: 35%
	  }
	
	.temas {
		width: 60px;
		height: 60px;
	}
	.rodape{
		position: fixed;
  		bottom: 2%;
  		width: 100%;
  		height:35%;	
	}
	.titleTemaMenina{
		font-family: 'Griffy';font-size: 10px;
	}
	.titleTemaMenino{
		font-family: 'Julee';font-size: 10px;
	}
	.nomeTema{
		font-family: 'Sofia';font-size: 12px;
	}
	.mosaico-fotos{
		width: 60px; 
		height: 60px;
	}
	/*.header-responsivo img{
		width: 80px; 
		height: 60px;
	}*/
}
	

@media screen and (min-width: 340.00px) and (max-width: 575.98px) {
	.rodape{
		position: fixed;
  		bottom: 0%;
  		width: 100%;
  		height:17%;	
	}
	/*.card {
		width: 100px;
		height: 100px;
	}*/
	.titleTemaMenina{
		font-family: 'Griffy';font-size: 20px;
	}
	.titleTemaMenino{
		font-family: 'Julee';font-size: 20px;
	}
	.temas {
		width: 100px;
		height: 100px;
	}
	.nomeTema{
		font-family: 'Sofia';font-size: 16px;
	}
	.mosaico-fotos{
		width: 100px; 
		height: 100px;
	}
	/*.header-responsivo img{
		width: 100px; 
		height: 70px;
	}*/
}


@media screen and (min-width: 576px) and (max-width: 767.98px) {
		
	.rodape{
		position: fixed;
  			bottom: 0%;
  		width: 100%;
  		height:17%;	
	}
	
	.card{
		width: 150px;
	}
	.titleTemaMenina{
		font-family: 'Griffy';font-size: 60px; text-align: center;
	}
	.titleTemaMenino{
		font-family: 'Julee';font-size: 60px; text-align: center;
	}
	.temas {
		width: 150px;
		height: 150px;
	}
	.nomeTema{
		font-family: 'Sofia';font-size: 18px;
	}
	.mosaico-fotos{
		width: 130px; 
		height:130px;
	}
	/*.header-responsivo img{
		width: 110px; 
		height:80px;
	}*/
	
}


@media screen and (min-width: 768px) and (max-width: 991.98px) {
	.rodape{
		position: fixed;
  			bottom: 0%;
  		width: 100%;
  		height:17%;	
	}
	
	.temas {
		width: 160px;
		height: 160px;
	}
	.card{
		width: 160px;
	}
	.titleTemaMenina{
		font-family: 'Griffy';font-size: 70px; text-align: center;
	}
	.titleTemaMenino{
		font-family: 'Julee';font-size: 70px; text-align: center;
	}
	.nomeTema{
		font-family: 'Sofia';font-size: 20px;
	}
	.mosaico-fotos{
		width: 150px; 
		height:150px;
	}
	/*.header-responsivo img{
		width: 110px; 
		height: 80px;
	}*/
}


@media screen and (min-width: 992px) and (max-width: 1199.98px) {
	
	.rodape{
		position: fixed;
  			bottom: 0%;
  		width: 100%;
  		height:17%;	
	}
	
	.temas {
		width: 200px;
		height:200px;
	}
	.card{
		width: 350px;
	}
	.titleTemaMenina{
		font-family: 'Griffy';font-size: 75px; text-align: center;
	}
	.titleTemaMenino{
		font-family: 'Julee';font-size: 75px; text-align: center;
	}
	.nomeTema{
		font-family: 'Sofia';font-size: 24px;
	}
	.mosaico-fotos{
		width: 160px; 
		height:160px;
	}
	/*.header-responsivo img{
		width: 140px; 
		height:100px;
	}*/
}

@media screen and (min-width: 1200px) {

	.rodape{
		position: fixed;
  			bottom: 0%;
  		width: 100%;
  		height:17%;	
	}
	
	.temas {
		width: 100px;
		height:100px;
	}
	
	.titleTemaMenina{
		font-family: 'Griffy';font-size: 80px; text-align: center;
	}
	.titleTemaMenino{
		font-family: 'Julee';font-size: 80px; text-align: center;
	}
	.nomeTema{
		font-family: 'Sofia';font-size: 40px;
	}
	.mosaico-fotos{
		width: 190px; 
		height: 190px;
	}
	/*.header-responsivo img{
		width: 150px; 
		height:110px;
	}*/
}

/*  @font-face {
   font-family: myFirstFont;
    src: url('font-awesome/fonts/fontawesome-webfont.woff');
}

*{
    font-family: myFirstFont;
}
*/


