body {
    background-color: lightblue;
}
div .borda-azul{
 border: 4px solid blue; 
 overflow:hidden;
}

div .borda-vermelha{
 border: 4px solid red; 
}

div .borda-preta{
 border: 4px solid black; 
}

div .borda-verde{
 border: 4px solid green; 
}

div .borda-branca{
 border: 4px solid white; 
}

div .borda-laranja{
 border: 4px solid orange; 
}

@media screen and (max-width: 575.98px) {
	
	.card {
		width: 100px;
		height: 100px;
	}
	.titleTemaMenina{
		font-family: 'Griffy';font-size: 50px;
	}
	.titleTemaMenino{
		font-family: 'Julee';font-size: 50px; text-align: center;
	}
	.temas {
		width: 100px;
		height: 100px;
	}
	.nomeTema{
		font-family: 'Sofia';font-size: 16px;
	}
		
	.somente-desktop-logotipo{
		display:none;
	}
	.somente-celular-texto-banner{
		display:inline;
	}
	.somente-desktop-texto-banner{
		display:none;
	}
	.header-para-celular{
		display: inline;
	}
	.header-para-desktop{
		display: none;
	}
	.moisaco-desktop{
		display: none;
	}
	.moisaco-mobile{
		display: inline;
	}
	
}


@media screen and (min-width: 576px) and (max-width: 767.98px) {
	.card{
		width: 200px;
	}
	.titleTemaMenina{
		font-family: 'Griffy';font-size: 60px; text-align: center;
	}
	.titleTemaMenino{
		font-family: 'Julee';font-size: 60px; text-align: center;
	}
	.temas {
		width: 200px;
		height: 200px;
	}
	.nomeTema{
		font-family: 'Sofia';font-size: 18px;
	}
	
	
	
	
	.somente-desktop-logotipo{
		display:none;
	}
	.somente-celular-texto-banner{
		display:inline;
	}
	.somente-desktop-texto-banner{
		display:none;
	}
	.header-para-celular{
		display: inline;
	}
	.header-para-desktop{
		display: none;
	}
	.moisaco-desktop{
		display: none;
	}
	.moisaco-mobile{
		display: inline;
	}
	
}


@media screen and (min-width: 768px) and (max-width: 991.98px) {
	.temas {
		width: 300px;
		height: 300px;
	}
	.card{
		width: 300px;
	}
	.titleTemaMenina{
		font-family: 'Griffy';font-size: 70px; text-align: center;
	}
	.titleTemaMenino{
		font-family: 'Julee';font-size: 70px; text-align: center;
	}
	.nomeTema{
		font-family: 'Sofia';font-size: 20px;
	}
	
	.somente-desktop-logotipo{
		display:inline;
	}
	.somente-celular-texto-banner{
		display:none;
	}
	.somente-desktop-texto-banner{
		display:inline;
	}
	.header-para-celular{
		display: none;
	}
	.header-para-desktop{
		display: inline;
	}
	.moisaco-desktop{
		display: inline;
	}
	.moisaco-mobile{
		display: none;
	}

}


@media screen and (min-width: 992px) and (max-width: 1199.98px) {
	.temas {
		width: 350px;
		height: 350px;
	}
	.card{
		width: 350px;
	}
	.titleTemaMenina{
		font-family: 'Griffy';font-size: 75px; text-align: center;
	}
	.titleTemaMenino{
		font-family: 'Julee';font-size: 75px; text-align: center;
	}
	.nomeTema{
		font-family: 'Sofia';font-size: 24px;
	}
	
	.somente-desktop-logotipo{
		display:inline;
	}
	.somente-celular-texto-banner{
		display:none;
	}
	.somente-desktop-texto-banner{
		display:inline;
	}
	.header-para-celular{
		display: none;
	}
	.header-para-desktop{
		display: inline;
	}
	.moisaco-desktop{
		display: inline;
	}
	.moisaco-mobile{
		display: none;
	}
	

}

@media screen and (min-width: 1200px) {
	.temas {
		width: 400px;
		height: 400px;
	}
	.card{
		width: 400px;
	}
	.titleTemaMenina{
		font-family: 'Griffy';font-size: 80px; text-align: center;
	}
	.titleTemaMenino{
		font-family: 'Julee';font-size: 80px; text-align: center;
	}
	.nomeTema{
		font-family: 'Sofia';font-size: 40px;
	}
	.somente-desktop-logotipo{
		display:inline;
	}
	.somente-celular-texto-banner{
		display:none;
	}
	.somente-desktop-texto-banner{
		display:inline;
	}
	.header-para-celular{
		display: none;
	}
	.header-para-desktop{
		display: inline;
	}
	.moisaco-desktop{
		display: inline;
	}
	.moisaco-mobile{
		display: none;
	}
	

}

/*  @font-face {
   font-family: myFirstFont;
    src: url('font-awesome/fonts/fontawesome-webfont.woff');
}

*{
    font-family: myFirstFont;
}
*/


