@font-face {
    font-family: "Gotham Pro Bold";
    src: url('#{resource["fonts/GothaProBol.otf"]}');
    
}

@font-face {
    font-family: "CAC Champagne";
    src: url('#{resource["fonts/CACChampagne.ttf"]}');
    
}


nav .borda7{
 border: 4px solid blue; 
}

div .borda-azul{
 border: 4px solid blue; 
 overflow:hidden;
}

div .borda-vermelha{
 border: 4px solid red; 
}

div .borda-preta{
 border: 4px solid black; 
}

div .borda-verde{
 border: 4px solid green; 
}

div .borda-branca{
 border: 4px solid white; 
}

div .borda-laranja{
 border: 4px solid orange; 
}

img.center {
    display: block;
    margin: 0 auto;
}

ficanomeio {
	 display: block;
    margin: 0 auto;
}

vtop{
  padding:0; 
}

.imgFestas {
    max-width:200px;
    max-height:170px;
    width: auto;
    height: auto;
    
}

.bg-espaco-fotos-festas{
	background: #00bcd4;
	background: -webkit-linear-gradient(to left, #00bcd4, #00bcd4);
	background: linear-gradient(to left, #fdcc52, #00bcd4);
	
}

@media screen and (min-width: 980px) /* Desktop */ {
  .motrar-carousel-para-celular{
		display: none; 
	}
	.esconder-mural-do-celular{
		display: inline;
	}
	.mostrar-temas-desktop{
		display: inline;
	}
	.mostrar-temas-celular{
		display: none; 
	}
	.somente-desktop-logotipo{
		display:inline;
	}
	.somente-celular-texto-banner{
		display:none;
	}
	.somente-desktop-texto-banner{
		display:inline;
	}
}

@media screen  and (max-width: 979px) /* Tablet */ {
   .motrar-carousel-para-celular{
		display: none; 
	}
	.esconder-mural-do-celular{
		display: inline;
	}
	.mostrar-temas-desktop{
		display: inline;
	}
	.mostrar-temas-celular{
		display: none; 
	}
	.somente-desktop-logotipo{
		display:inline;
	}
	.somente-celular-texto-banner{
		display:none;
	}
	.somente-desktop-texto-banner{
		display:inline;
	}
}

@media screen and (max-width: 500px) /* Mobile */ {
 	.motrar-carousel-para-celular{
		display: inline; 
	}
	.esconder-mural-do-celular{
		display: none;
	}
	.mostrar-temas-desktop{
		display: none;
	}
	.mostrar-temas-celular{
		display: inline; 
	}
	.somente-desktop-logotipo{
		display:none;
	}
	.somente-celular-texto-banner{
		display:inline;
	}
	.somente-desktop-texto-banner{
		display:none;
	}
}

h5 {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
    margin: 0;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
   	display:block;
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer-meninos {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #a8ffa8;
}

.card-footer-meninas {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fbfecf;
}

.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}

.profile {
    position: absolute;
    top: -12px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}

.profile-avatar {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

.profile-inline ~ .card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}

.text-bold {
    font-weight: 700;
}

.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

.meta a:hover {
    color: rgba(0, 0, 0, .87);
}